/*
 * Globals
 */

body {
    font-family: "Arial", Times, serif;
    color: #ccc;
    background-color: #111;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #ddd;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/*
 * Masthead for nav
 */

.btn {
    color: #333;
}

.blog-masthead {
    background-color: #444;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

/* Nav links */
.main-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

.main-nav-item:hover,
.main-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.main-nav .active {
    color: #fff;
}

.main-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.form-control {
    background-color: #444;
    color: #ccc;
}

select {
    background-color: #444;
    color: #ccc;
}

.addButton {
    background-color: #444;
    color: #ccc;
}

.modal-content {
    background-color: #333;
}

.playerTable {
    width: 100%;
    background-color: #222;
}

.playerTable th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.centreLoaderDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.team {
    text-align: center;
    margin-right: 5px;
    width: 25%;
}

.team:nth-child(odd) {
    float: left;
    margin-left: 23%;
}

.team:nth-child(even) {
    float: right;
    margin-right: 23%;
}

.team span {
    font-size: .75em;
}

.members {
    border: solid 3px #666;
    width: 100%;
    height: 135px;
    background-color: #666;
    margin: 5px;
    padding: 2px;
    overflow: hidden;
}

.ko_container {
}

.member {
    background-color: #444;
    color: #fff;
    margin: 2px;
    padding: 1px;
    text-align: center;
    width: 221px;
    cursor: move;
}

.new {
    border: solid 1px #444;
    background-color: #ccc;
    height: 75px;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
}

.available {
    height: 125px;
}

.new div {
    float: left;
}

.note {
    font-style: italic;
    font-size: .75em;
    color: #888;
    margin-bottom: 10px;
}

.count {
    color: #666;
}

.ready {
    color: green;
}

#extra {
    clear: both;
    padding-top: 20px;
}

#master {
    margin-top: 40px;
}

#message, #error {
    font-size: .75em;
    margin-top: 10px;
    background-color: orange;
    color: #444;
    padding: 2px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #999;
    position: absolute;
}

#error {
    background-color: #ff3333;
    color: #ddd;
}

.team2 {
    text-align: center;
    margin-right: 5px;
    width: 28%;
}

.team2:nth-child(odd) {
    float: left;
    margin-left: 20%;
}

.team2:nth-child(even) {
    float: right;
    margin-right: 20%;
}

.team2 span {
    font-size: .75em;
}

.members2 {
    border: solid 3px #666;
    width: 100%;
    height: 114px;
    background-color: #666;
    overflow: hidden;
}

.member2 {
    background-color: #444;
    color: #fff;
    margin-bottom: 2px;
    text-align: center;
    width: 100%;
    cursor: move;
    white-space: nowrap;
}

@media (max-width: 992px) {
    .team {
        width: 33%;
    }

    .team:nth-child(odd) {
        margin-left: 15%;
    }

    .team:nth-child(even) {
        margin-right: 15%;
    }

    .team2 {
        width: 38%;
    }

    .team2:nth-child(odd) {
        margin-left: 10%;
    }

    .team2:nth-child(even) {
        margin-right: 10%;
    }
}

@media (max-width: 750px) {
    .team {
        width: 38%;
    }

    .team:nth-child(odd) {
        margin-left: 10%;
    }

    .team:nth-child(even) {
        margin-right: 10%;
    }
}

@media (max-width: 500px) {
    .team {
        width: 43%;
    }

    .team:nth-child(odd) {
        margin-left: 5%;
    }

    .team:nth-child(even) {
        margin-right: 5%;
    }

    .team2 {
        width: 43%;
    }

    .team2:nth-child(odd) {
        margin-left: 5%;
    }

    .team2:nth-child(even) {
        margin-right: 5%;
    }
}

.login {
    float: right;
}