<div class="modal-header">
    Edit
</div>

<div class="modal-body">
    <input class="form-control editTextInput" ng-model="params.editText" placeholder="Title"
           data-ng-keypress="enterPressed($event)" type="text">
    <input class="form-control editDetailTextInput" ng-model="params.editDetailText" placeholder="Details (optional)"
           data-ng-keypress="enterPressed($event)" type="text">
</div>

<div class="modal-footer">
    <button data-ng-click="finalizeEdit()" class="btn btn-default addButton">edit</button>
    <button data-ng-click="cancelEdit()" class="btn btn-default addButton">cancel</button>
</div>