<div ng-cloak class="container">
    <div class="col-md-12">
        <div class="todoContainer">
            <div ng-controller="Controller">
                <div ng-show="!u" class="loginWindow">
                    <p>Please sign in or register!</p>
                    <form ng-submit="signUp()">Register
                        <input ng-model="newUsernameInput" title="newUsernameInput" class="form-control" placeholder="E-Mail">
                        <input ng-model="newPasswordInput" title="newPasswordInput" type="password" placeholder="Password"
                               class="form-control">
                        <input type="submit" class="btn btn-default addButton">
                    </form>
                </div>
                <div ng-show="u">
                    <div class="inputContainer">
                        <button class="btn btn-default addButton" data-ng-click="sendNewTodo()">+</button>
                        <input class="form-control" ng-model="params.text" placeholder="Title"
                               data-ng-keypress="keyPressed($event)">
                        <input class="form-control" ng-model="params.detailText" placeholder="Details (optional)"
                               data-ng-keypress="keyPressed($event)">
                    </div>

                    <div class="todoDisplay">
                        <div class="singleTodo" ng-repeat="item in items" data-ng-click="sendCheckEdit(item.id)">
                            <input title="" type="checkbox" data-ng-checked="item.completed">
                            {{item.title}}
                            <span class="details">{{item.details}}</span>
                            <button class="listButton btn btn-default"
                                    data-ng-click="removeTodo(item.id,$event)">✕
                            </button>
                            <button class="listButton btn btn-default"
                                    data-ng-click="showEditForm(item.id,$event)">edit
                            </button>
                            <button class="listButton btn btn-default"
                                    data-ng-click="goToDetail(item.id,$event)">details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>